*{
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction: column;
    margin:0px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    width:960px;
    margin: 0 auto;
}

/** Navigation **/

header{
    background-color: black;
    color: #fff;
}

header .container{
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.logo-img{
    cursor: pointer;
    display:block;
    overflow:hidden;
    height: 32px;
    padding:0px;
    transition:0.2s;
    
}
.logo-img:hover{
    opacity:60%;
}
.logo a{
    cursor: pointer;
    border-left: 2px solid white;
    padding: 5px 10px;
    margin-left: 10px;
}
nav{
    display:flex;
    gap:10px;
}
button{
    cursor: pointer;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding:10px 20px;
}

.btn-signIn{
    border:none;
    background-color: #4C5FD5;
    transition:0.2s;
}
.btn-signIn:hover{
    background-color: #FFF;
    color:#000;
}
/** END - Navigation **/



.main{
    display:flex;
    flex-direction: column;
    flex:1;
}

/* ====== Hero ========= */
.hero{
background-color: #dadbf1;
}
.hero .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding:100px;
}

.hero-para{
    font-size:60px;
    padding: 0;
    margin: 0;
}

.hero .search-container{
    display:flex;
    width: 80%;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FFF;
    overflow:hidden;
}

.hero .search-container:focus-within{
    border: 1px solid #4C5FD5;
    overflow:hidden;

}

#search-bar{
    border:none;
    font-size:20px;
    flex:1;
}
#search-bar:focus{
    outline: none;
}

.search-btn{
    border:0px;
    background-color: #FFF;
    color: black;
    padding:0px;
}
.search-btn svg{
    display:block;
    width: 40px;
    height:auto;
    fill:rgba(0, 0, 0, 1)
}
.search-btn:hover svg{
    fill:#4C5FD5;
}
/* ====== END Hero ========= */




/* ============INFOR============== */
.infor .container{
    flex-wrap: wrap;
    justify-content: center;
    gap:40px;
    padding: 50px 0;

}
.sub-info-container{
    width:40%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:20px;
}

.sub-info-title{
    margin-top: 0px;
}
.sub-info-text{
    font-weight:300;
}
/* ====== END INFOR ========= */


/* ====== Footer ========= */
footer{
    background-color: black;
    color: white;
    font-size:16px;
    padding:40px;
}
footer .container{
    height: 300px;
    justify-content: space-between;
}

.footer-link{
    text-align: left;
}
.footer-link ul{
    padding:0;
    margin:0;
}
.footer-link ul li{
    list-style-type: none;
}
.copy-right{
    align-self: flex-end;
}
